<jhi-confirm-button
    *ngIf="course.registrationConfirmationMessage!"
    (onConfirm)="registerForCourse(course.id!)"
    title="artemisApp.studentDashboard.enroll.enrollForCourse"
    confirmationText="{{ course.registrationConfirmationMessage! }}"
    confirmationTitle="artemisApp.studentDashboard.enroll.courseEnrollmentConfirmationTitle"
    [disabled]="loading"
    [translateText]="false"
    [textIsMarkdown]="true"
>
</jhi-confirm-button>
<button *ngIf="!course.registrationConfirmationMessage!" class="btn btn-primary" (click)="registerForCourse(course.id!)" [disabled]="loading">
    {{ 'artemisApp.studentDashboard.enroll.enrollForCourse' | artemisTranslate }}
</button>
